<!-- <h2>Thêm môn thể thao</h2>
<form id="add-form">
    <label for="sport-id">Mã môn thể thao:</label>
    <input type="text" id="sport-id" name="sport-id">
    <label for="sport-name">Tên môn thể thao:</label>
    <input type="text" id="sport-name" name="sport-name">
    <button type="submit">Thêm</button>
</form>

<h2>Xóa môn thể thao</h2>
<form id="delete-form">
    <label for="delete-id">Mã môn thể thao:</label>
    <input type="text" id="delete-id" name="delete-id">
    <button type="submit">Xóa</button>
</form>

<h2>Cập nhật thông tin môn thể thao</h2>
<form id="update-form">
    <label for="update-id">Mã môn thể thao:</label>
    <input type="text" id="update-id" name="update-id">
    <label for="update-name">Tên môn thể thao:</label>
    <input type="text" id="update-name" name="update-name">
    <button type="submit">Cập nhật</button>
</form> -->
